<!-- eslint-disable vue/no-side-effects-in-computed-properties -->
<script lang="ts" setup>
import { computed, ref } from "vue";
const num = ref(0);
let numlist: any = ref([0]);
const shownum = computed(() => {
  numlist.value = [];
  if (num.value === 0 || !num.value) {
    numlist.value = [];
    return numlist.value;
  }
  for (let i = 1; i <= num.value; i++) {
    numlist.value.push(i);
  }
  return numlist.value;
});
</script>

<template>
  <v-container>
    <v-form ref="form">
      <v-text-field
        label="Plese Input Number"
        :rules="[(v) => !!v || 'Number is not empty!!!']"
        required
        v-model="num"
      >
      </v-text-field>
    </v-form>
    <v-row>
      <v-col cols="12" md="1" v-for="item in shownum" :key="item">{{
        item
      }}</v-col>
    </v-row>
  </v-container>
</template>
