<script lang="ts" setup>
import { ref } from "vue";
let nowimg = ref("../../feeling_imgs/smile.png");
let nowname = ref("Smile");

function clickbtn(id: number) {
  if (id == 0) {
    nowimg.value = emojilist.value[0].img;
    nowname.value = emojilist.value[0].name;
  }
  if (id == 1) {
    nowimg.value = emojilist.value[1].img;
    nowname.value = emojilist.value[1].name;
  }
  if (id == 2) {
    nowimg.value = emojilist.value[2].img;
    nowname.value = emojilist.value[2].name;
  }
  if (id == 3) {
    nowimg.value = emojilist.value[3].img;
    nowname.value = emojilist.value[3].name;
  }
  if (id == 4) {
    nowimg.value = emojilist.value[4].img;
    nowname.value = emojilist.value[4].name;
  }
  if (id == 5) {
    nowimg.value = emojilist.value[5].img;
    nowname.value = emojilist.value[5].name;
  }

  emojilist.value[5].color = "";
  // const index = emojilist.value.findIndex((list) => list.id == id);
  // const nowimg = emojilist.value[index].img;
  // const nowname = emojilist.value[index].name
  // ;
}
const emojilist = ref([
  {
    id: 0,
    name: "Angry",
    img: "../../feeling_imgs/angry.png",
    color: "",
  },
  {
    id: 1,
    name: "Cute",
    img: "../../feeling_imgs/cute.png",
    color: "",
  },
  {
    id: 2,
    name: "Excited",
    img: "../../feeling_imgs/excited.png",
    color: "",
  },
  {
    id: 3,
    name: "Pain",
    img: "../../feeling_imgs/pain.png",
    color: "",
  },
  {
    id: 4,
    name: "Shocked",
    img: "../../feeling_imgs/shocked.png",
    color: "",
  },
  {
    id: 5,
    name: "Smile",
    img: "../../feeling_imgs/smile.png",
    color: "yellow",
  },
]);
</script>
<template>
  <v-container fluid class="pa-0">
    <v-row align="center">
      <v-col cols="12" sm="6">
        <div class="center">
          <v-img class="mt-10" :src="nowimg"></v-img>
        </div>
      </v-col>
      <v-col cols="12" sm="6">
        <div class="text-center">
          <div class="my-2">
            <h1>{{ nowname }}</h1>
          </div>
          <div v-for="item in emojilist" :key="item.id">
            <v-btn
              class="widthbtn"
              @click="clickbtn(item.id)"
              :color="item.color"
              >{{ item.name }}</v-btn
            >
          </div>
        </div>
      </v-col>
    </v-row>
  </v-container>
</template>

<style scoped>
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10;
  width: 60%;
}
.widthbtn {
  height: 45px;
  margin: 8px;
  width: 80%;
}

.widthbtn:focus {
  background-color: yellow;
}
</style>
