<script lang="ts" setup>
import { ref } from "vue";

const products = ref(
  Array.from(Array(100).keys()).map((item) => {
    return {
      id: item,
      name: "Product " + (item + 1),
      price: (Math.floor(Math.random() * 100) + 1) * 10,
    };
  })
);

const list: any = ref([]);
function addclick(item: any) {
  list.value.push(item);
}

let price = ref(0);
function summary(sum: any) {
  price.value = sum + price.value;
}
</script>
<template>
  <v-container fluid>
    <v-row>
      <v-col cols="6">
        <v-container style="height: 80vh; overflow-y: auto">
          <v-row>
            <v-col cols="4" v-for="item in products" :key="item.id">
              <v-card style="width: 150px; height: 120px">
                <v-card-item>
                  <div style="text-align: center">
                    <h3>{{ item.name }}</h3>
                    <div>{{ item.price }}</div>
                    <v-btn
                      style="margin-top: 5px; margin-bottom: 5px"
                      @click="addclick(item), summary(item.price)"
                    >
                      ADD
                    </v-btn>
                  </div>
                </v-card-item>
              </v-card>
            </v-col>
          </v-row>
        </v-container>
      </v-col>

      <v-col cols="6">
        <v-table density="compact" style="height: 80vh; overflow-y: auto">
          <thead>
            <tr>
              <th class="text-left">id</th>
              <th class="text-left">name</th>
              <th class="text-left">price</th>
            </tr>
          </thead>
          <tr v-if="list.length == 0">
            <td colspan="3" style="text-align: center"><h3>No Data</h3></td>
          </tr>
          <tbody>
            <tr v-for="item of list" :key="item">
              <td>
                {{ item.id }}
              </td>
              <td>
                {{ item.name }}
              </td>
              <td>
                {{ item.price }}
              </td>
            </tr>
          </tbody>
        </v-table>
        <v-row>
          <h1>Sum:{{ price }}</h1>
        </v-row>
      </v-col>
    </v-row>
  </v-container>
</template>
