<script setup lang="ts">
import { useCounterStore } from "@/stores/counter";

const counterStore = useCounterStore();
</script>
<template>
  <div>Second Component</div>
  <div>{{ counterStore.doubleCount }}</div>
  <v-btn class="mt-5" @click="counterStore.decrement">DECREMENT</v-btn>
</template>
